/* estilo.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #247D9E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button.primary {
    background-color: #247D9E;
}

.button.secondary {
    background-color: #ccc;
    color: #333;
}

.button:hover {
    background-color: #195e7f;
}

.button.secondary:hover {
    background-color: #bbb;
}