body {
    background-image: url("../img1/Fundo.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif; /* Adiciona uma fonte padrão */
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #9cd2e6; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    border-bottom: 2px solid #247D9E; /* Adiciona uma linha embaixo */
    padding-bottom: 10px; /* Espaçamento abaixo do texto */
    letter-spacing: 1px; /* Espaçamento entre as letras */
    text-align: center; /* Alinha o texto ao centro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.container {
    margin-top: 50px; /* Adiciona margem superior para afastar o formulário do menu */
    max-width: 600px;
    margin-left: auto; /* Centraliza o contêiner horizontalmente */
    margin-right: auto; /* Centraliza o contêiner horizontalmente */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="date"],
.form-container input[type="time"],
.form-container select,
.form-container textarea {
    width: calc(100% - 22px); /* Largura total menos o espaço de preenchimento */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    background-color: #247D9E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: #195e7f;
}
