/* estilo.css */
body {
    background-image: url("../img1/Fundo.svg");
    height: 100vh;
    background-position: center;
    background-size: cover ;
}

.menu {
    background-color: #247D9E; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Arredondamento das pontas */
}

.checkbox-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checkbox-list li {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-list input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #9cd2e6; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    border-bottom: 2px solid #247D9E; /* Adiciona uma linha embaixo */
    padding-bottom: 10px; /* Espaçamento abaixo do texto */
    letter-spacing: 1px; /* Espaçamento entre as letras */
    text-align: center; /* Alinha o texto ao centro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.container {
    margin-top: 80px; /* Adiciona margem superior para afastar o formulário do menu */
    max-width: 600px;
    margin-left: auto; /* Centraliza o contêiner horizontalmente */
    margin-right: auto; /* Centraliza o contêiner horizontalmente */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    background-color: #247D9E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: #195e7f;
}
