/* gestao_salas_aula.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url("../img1/Fundo.svg");
    height: 100vh;
    background-position: center;
    background-size: cover ;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button.primary {
    background-color: #247D9E;
    color: #fff;
}

.button.secondary {
    background-color: #ccc;
    color: #333;
}

.button.tertiary {
    background-color: #4CAF50; /* cor de fundo verde */
    color: #fff;
}

.button:hover {
    background-color: #195e7f;
}

.button.secondary:hover {
    background-color: #bbb;
}
